.navbar-brand ul {
	margin-top: 0;	
	float: right;
}

/*.main-content {
	width: 65%;
	height: 400px;
	margin: 200px auto 0 auto;
	box-shadow: 5px 5px 5px #939393;
	border-radius: 10px;
}*/

input#exampleRadios1.form-check-input{
	margin-top: 30px;	
}

input#exampleRadios2.form-check-input{
	margin-top: 10px;
}





.step-content {
	text-align: center;
}


input .form-check-input {
	margin-top: 20px;
}


.actions {
	text-align: center;
	margin-top: 350px;	
}

.button {
	border: none;
}
.button-left {	
	background-color: #efb814;
	margin-right: 20px;
	border-radius: 5px;	
}

.button-left.btn-primary:hover {
	background-color: #efb814;
}

.button-right {
	margin-top: -0.025em;
	border-radius: 5px;
}

.button-right.btn-primary:hover {
	background-color: #efb814;
}



